<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Welcome! </h3>
    <p>There are <%= part_count %> parts available</p>
    <p>There are <%= brand_count %> brands</p>
  </body>
</html>





<style>
</style>