<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/part/create">Add</a></li>
                <li><a href="/parts">Parts</a></li>
                <li><a href="/brands">Brands</a></li>
            </ul>
        </nav>
    </header>
    



    <%- body %>
</body>
</html>

<style>
    body, html, nav{
        margin: 0;
        padding: 0;
        font-family: "Source Code Pro"
    }
    * {
        margin: 7px;
    }
    header {
        margin: 0;
        background-color: whitesmoke;
        height: 10vh;
    }
    #navbar {
        margin: 0;
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }
    h1 {
        margin: 20px;
    }
</style>