<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/part/create">Add</a></li>
                <li><a href="/parts">Parts</a></li>
            </ul>
        </nav>
    </header>
    



    <%- body %>
</body>
</html>

<style>
    *, body, html {
        margin: 0;
        padding: 0;
    }
    header {
        background-color: whitesmoke;
        height: 10vh;
    }
    ul {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }
</style>