<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <form method="post" action="">
            <div class="forms">
                <label for="name">Name:</label>
                <input id="name" name="name" type="text" placeholder="Name of Part">
            </div>

            <div class="forms">
                <label for="type">Type:</label>
                <input id="type" name="type" type="text" placeholder="Type of Part">
            </div>

            <div class="forms">
                <label for="brand">Brand:</label>
                <input type="text" name="brand" id="brand" >
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>