<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <form method="post" action="">
            <div class="forms">
                <label for="name">Name:</label>
                <input id="name" name="name" type="text">
            </div>

            <div class="forms">
                <label for="type">Type:</label>
                <input id="type" name="type" type="text">
            </div>

            <div class="forms">
                <% brands.forEach(brand => { %>
                    <label for=""><%= brand.name %></label>
                    <input type="checkbox" name="brand" value="<%= brand._id %>">
                <% }) %>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>